/* login.css 내용 시작 */

/* 로그인 박스 중앙 정렬 */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-box {
    padding: 40px;
    border: 2px solid #16D99B;
    border-radius: 12px;
    min-width: 400px;
    box-sizing: border-box;
}

.login-box h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: #16D99B;
    cursor: pointer;
}

/* 마우스 올렸을 때 */
.login-box h1:hover {
    color: #16D99B;
    /* 살짝 진해짐 */
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

/* input 공통 스타일 */
.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

/* 로그인 버튼 */
.login-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

/* 콤보박스 메뉴 */
#comboMenu {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    border-radius: 6px;
}

#comboMenu li {
    list-style: none;
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
}

#comboMenu li:hover {
    background: #f0f0f0;
}

/* comboMenu를 input과 같은 위치에 겹치게 */
.combo-wrapper {
    position: relative;
    width: 100%;
}

.login-links {
    display: flex;
    justify-content: center;
    /* 중앙 정렬 */
    gap: 5px;
    /* 버튼 사이 간격 좁게 */
    margin-bottom: 0.1px;
    /* 로그인 버튼과 간격 */
    margin-top: 10px;
    height: 25px;
    align-items: center;
}

.link-button {
    background: none;
    /* 배경 제거 */
    border: none;
    /* 테두리 제거 */
    color: #555;
    /* 글자 색상 */
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0;
    /* 내부 여백 제거 */
    text-decoration: none;
    /* 밑줄 제거 */
}

.dicider {
    color: #555;
}

.link-button:hover {
    text-decoration: underline;
    /* 마우스 오버 시 밑줄 */
    color: #000;
    /* 글자 색상 변화 */
}

.li {
    height: 35px;
    color: red;
}