<!-- 캐러셀 (슬라이드) 시작 -->
<div id="carouselSlideslidesShow" class="main-banner carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSlideslidesShow" data-bs-slide-to="0" aria-label="Slide 1" aria-current="true" class="active"></button>
        {% for indi_no in range(1, best_li | length) %}
        <button type="button" data-bs-target="#carouselSlideslidesShow" data-bs-slide-to="{{ indi_no }}" aria-label="Slide {{ indi_no + 1 }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner" style="width: 100%; height: 100%;">
        <a href="/{{ (best_li[0]['item_category'] - 9) // 10 }}/{{ best_li[0]['item_id'] }}">
            <div class="carousel-item active" style="width: 100%; height: 100%;">
                <img src="{{ url_for('static', filename='img/_item/' + best_li[0]['item_img']) }}"
                class="d-block" style="height: 100%; object-fit: cover; display: flex; margin: auto;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p> {{ best_li[0]['item_name'] }} </p>
                </div>
            </div>
        </a>
        {% for casel in best_li[1:] %}
        <a href="/{{ (casel['item_category'] - 9) // 10 }}/{{ casel['item_id'] }}">
            <div class="carousel-item" style="width: 100%; height: 100%;">
                <img src="{{ url_for('static', filename='img/_item/' + casel['item_img']) }}"
                class="d-block" style="height: 100%; object-fit: cover; display: flex; margin: auto;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p> {{ casel['item_name'] }} </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <button class="prev-arrow" data-bs-target="#carouselSlideslidesShow" data-bs-slide="prev"> &lt; </button>
    <button class="next-arrow" data-bs-target="#carouselSlideslidesShow" data-bs-slide="next"> &gt; </button>
</div>
<!-- 캐러셀 (슬라이드) 끝 -->