<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub - 카테고리</title>
    {% include "includes/_style.html" %}
    <style>
        .recommend-title {
            position: relative;
            display: inline-block;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <header>
        {% include "includes/_header.html" %}
        {% include "includes/_catenav.html" %}
    </header>
    
    <main>
        {% include "includes/_carousel.html" %}
        <h4><span class="recommend-title">
        {% if "user" in session and recom_li is defined and recom_li %}
            📌{{ session["user"]["user_name"] }} 님의 구매목록 기반 맞춤 추천 상품입니다.
        {% else %}
            📌인기 상품 순위에 따른 추천 상품입니다.
        {% endif %}
        </span></h4>
        <section class="category-thumbnails" >
            {% if "user" in session and recom_li is defined and recom_li %}
                {% for recom in recom_li %}
                <a href="/{{ session['cate_no'] }}/{{ recom['item_id'] }}">
                    <div class="thumbnail-item" style="height: auto; background: none;">
                        {% if recom['item_img'].endswith(".png") %}
                        <img src="{{ url_for('static', filename='img/_item/' + recom['item_img']) }}"
                        style="width: 100%; height: 100%;">
                        {% else %}
                        <img src="{{ recom['item_img'] }}" alt="{{ recom['item_name'] }}" style="width: 100%; height: 100%;">
                        {% endif %}
                        <span class="cate_item_name">{{ recom['item_name'] }}</span>
                        <span class="cate_item_price">{{'{:,}'.format(recom['item_price'])}} 원</span>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                {% for best in best_li[8:14] %}
                <a href="/{{ session['cate_no'] }}/{{ best['item_id'] }}">
                    <div class="thumbnail-item" style="height: auto; background: none;">
                        {% if best['item_img'].endswith(".png") %}
                        <img src="{{ url_for('static', filename='img/_item/' + best['item_img']) }}"
                        style="width: 100%; height: 100%;">
                        {% else %}
                        <img src="{{ best['item_img'] }}" alt="{{ best['item_name'] }}" style="width: 100%; height: 100%;">
                        {% endif %}
                        <span class="cate_item_name">{{ best['item_name'] }}</span>
                        <span class="cate_item_price">{{'{:,}'.format(best['item_price'])}} 원</span>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </section>

        {% if "user" in session and recom_li is defined and recom_li %}
        <section class="middle-banner-area" style="padding: 12px;">
            <h5><p><strong>✔ 현재 대분류 추천 전략</strong></p></h5>
            {% for plan in recom_pl['추천전략'] %}
            <p><strong>0{{ loop.index0 + 1 }}번.</strong> {{ plan }}</p>
            {% endfor %}<br>
            <h5><p><strong>✔ 현재 소분류 추천 이유</strong></p></h5>
            {% for plan in recom_pl['추천답변'] %}
            <p><strong>{{ plan['category_name'] }} :</strong> {{ plan['reason'] }}</p>
            {% endfor %}
        </section>
        {% include "includes/_nologinformaintochart.html" %}
        {% endif %}
        <section class="product-grid" id="infinite_scroll">
            {% for ie in ie_li %}
                <a href="/{{ session['cate_no'] }}/{{ ie['item_id'] }}">
                    <div class="product-item">
                        <div class="img-box">
                            {% if ie['item_img'].endswith(".png") %}
                            <img src="{{ url_for('static', filename='img/_item/' + ie['item_img']) }}">
                            {% else %}
                            <img src="{{ ie['item_img'] }}" alt="{{ ie['item_name'] }}" style="width: 100%; height: 100%;">
                            {% endif %}
                        </div>
                        <span class="cate_item_name">{{ ie['item_name'] }}</span>
                        <span class="cate_item_price">{{'{:,}'.format(ie['item_price'])}} 원</span>
                    </div>
                </a>
            {% endfor %}
        </section>
        
        <button id="pop" class="top-btn">TOP</button>
        <div id="scroll-trigger" style="height: 50px;"></div>
    </main>
    {% include "includes/_infinite_scroll.html" %}
</body>
</html>