<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub - 메인 페이지</title>
    {% include "includes/_style.html" %}
</head>
<body>
    <header>
        {% include "includes/_header.html" %}
        {% include "includes/_catenav.html" %}
    </header>

    <main>
        {% include "includes/_carousel.html" %}

        <section class="category-thumbnails">
            {% if session['user'] %}
                {% for n in [0, 1, 2, 3, 4, 5] %}
                <a href="/{{ session['cate_no'] }}/{{ n }}">
                    <div class="thumbnail-item">
                        <img src="{{ url_for('static', filename='exchange/곡류샘플.jpg') }}"
                        style="width: 100%; height: 100%;">
                    </div>
                </a>
                {% endfor %}
            {% endif %}
            <!-- 
            # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
            # ujin 님 작업 영역 시작
            # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
            -->
            {% if not session["user"] %}
                {% for ie in ie_li %}
                <a href="/{{ cate_li[loop.index0] }}/{{ ie['item_id'] }}">
                    <div class="thumbnail-item">
                        <img src="{{ url_for('static', filename='img/_item/' + ie['item_img']) }}"
                        style="width: 100%; height: 100%;">
                    </div>
                </a>
                {% endfor %}
            {% endif %}
            <!-- 
            # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
            # ujin 님 작업 영역 종료
            # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
            -->
        </section>

        <!--
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        # 문홍일 님 작업 영역 시작
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        -->
        {% if session["user"] %}
        <section class="wide-banners">
            <div class="wide-banner-item large">
                {% include "mhi/group_recommend.html" %}
            </div>
            <div>
                {% include "mhi/group_g.html" %}
            </div>
        </section>
        {% endif %}
        <br><br><br>
        <!--
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        # 문홍일 님 작업 영역 끝
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        -->
        <!-- 
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        # ujin 님 작업 영역 시작
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        -->
        {% if not session["user"] %}
            {% include "includes/_nologinformaintochart.html" %}
        {% endif %}
        <!-- 
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        # ujin 님 작업 영역 종료
        # ##### ##### ##### ##### ##### ##### ##### ##### ##### #####
        -->
    </main>

    </body>
</html>