<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub - 장바구니</title>
    {% include "includes/_style.html" %}
</head>

<!-- 화면 > 로그인 > 화면에 상품 출력
결제완료 > 장바구니 비우기 > 결제내역 화면으로 redirect해주기
결제완료 > 결제내역 추가
상품 담기 > 중복OK 로그인 체크
상품 제거 > 체크박스로 해당 상품 컬럼 장바구니에서 제거

장바구니가 비어있을때 결제버튼을 누르면 alert "결제할 상품이 없습니다."
로그인체크 > 비로그인시 alert "로그인이 필요한 페이지입니다." -->
<body>
    <header>
        {% include "includes/_header.html" %}
        {% include "includes/_catenav.html" %}
    </header>
        {% include "includes/_click_log.html" %}
    <main>
        <nav class="cart-tabs">
            <ul>
                <li><a href="{{ url_for('sky.cart_page') }}" class="active">장바구니</a><li>
                <li><a href="{{ url_for('sky.history_page') }}">구매내역</a></li>
                <li><a href="{{ url_for('sky.algo_page') }}">알고리즘</a></li>
            </ul>
        </nav>

        <h1 class="page-title">장바구니</h1>
        {% if datas %}
        <section class="cart-list">
            {% for item in datas %}
            <div id="cart" class="cart-item" onclick='location.href="/{{ item.item_category }}/{{ item.item_id }}"'>
                <div class="cart-item-img-placeholder">
                    {% if item.item_img.endswith(".png") %}
                        <!-- 이미지 파일로 받을 때 -->
                        <img src="{{ url_for('static', filename='img/_item/' ~ item.item_img) }}" alt="{{ item.item_name }}" style="width: 100px; height: 100px; object-fit:cover;">
                    {% else %}
                        <!-- 이미지 링크로 받을 때 -->
                        <img src="{{ item.item_img }}" alt="{{ item.item_name }}" style="width: 100px; height: 100px; object-fit:cover;">
                    {% endif %}
                </div>
                <div class="cart-item-details">
                    <p class="cart-item-name">상품명&nbsp
                        <span class="cart-item-name-context">
                            {{ item.item_name }}
                        </span>
                    </p>
                </div>
                <div class="cart-item-detail-area">
                    <p class="cart-item-detail-info_cartonly">
                        상품 상세 정보<br>
                        <span class="cart-item-detail-context">{{ item.item_name }}입니다.</span>
                    </p>
                    <div class="cart-item-tags">
                        {% for tag in item.tags %}
                            <span>#{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="cart-item-price">
                    <p>상품 가격<br><br>
                        <span class="cart-item-price-context">
                            {{'{:,}'.format(item.item_price)}} 원
                        </span>
                    </p>
                </div>
                <div>
                    <form action="{{ url_for('sky.remove_from_cart', item_id=item.item_id) }}" method="post">
                        <button class="remove-btn">❌</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            <form action="{{ url_for('sky.payok') }}" method="post">
                <div class="checkout-area">
                    <button class="payment-btn" type="submit">결제</button>
                </div>
            </form>
            {% else %}
            <p>장바구니에 상품이 없습니다.</p>
            {% endif %}
        </section>

        {% if datas %}
        <h2 class="section-title">함께 구매하면 좋은 상품들이에요!</h2>
        <section class="recommended-items">
            <div class="recommended-container">
                {% for item in rdatas %}
                <div class="recommended-list">
                    <form action="{{ url_for('sky.add_to_cart', item_id=item.item_id) }}" method="post">
                        <div class="recommend-item" data-item_id="{{item_id}}" data-item_name="{{item_name}}" data-item_price="{{item_price}}">
                            <div class="cart-item-img-placeholder">
                                {% if item.item_img.endswith(".png") %}
                                    <!-- 이미지 파일로 받을 때 -->
                                    <img src="{{ url_for('static', filename='img/_item/' ~ item.item_img) }}" alt="{{ item.item_name }}" style="width: 100px; height: 100px; object-fit:cover;">
                                {% else %}
                                    <!-- 이미지 링크로 받을 때 -->
                                    <img src="{{ item.item_img }}" alt="{{ item.item_name }}" style="width: 100px; height: 100px; object-fit:cover;">
                                {% endif %}
                            </div>
                            <div class="recommend-info">
                                <h3 class="recommend-name">상품명 {{item.item_name}}</h3>
                                <p class="recommend-price">{{'{:,}'.format(item.item_price)}} 원</p>
                                <div class="cart-item-tags">
                                    {% for tag in item.tags %}
                                        <span>#{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="add-btn" type="submit">담기</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="recommended_banner">
                <div class="recommended-wide-banner"></div>
            </div>
        </section>
        {% endif %}
        <br><br><br>
    </main>
</body>
</html>