<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub - 결제내역</title>

</head>
{% include "includes/_style.html" %}
<body>
    <header>
        {% include "includes/_header.html" %}
        {% include "includes/_catenav.html" %}
    </header>
    <main>
        <nav class="cart-tabs">
            <ul>
                <li><a href="{{ url_for('sky.cart_page') }}">장바구니</a></li>
                <li><a href="{{ url_for('sky.history_page') }}" class="active">구매내역</a></li>
                <li><a href="{{ url_for('sky.algo_page') }}">알고리즘</a></li>
            </ul>
        </nav>
        
        <h1 class="page-title">구매내역</h1>

        {% if datas %}
        <section class="cart-list">
            {% for item in datas %}
            <!-- 빨간줄 나는데 작동은 잘됨 -->
            <div class="cart-item" data_item_id="{{ item.item_id }}" onclick='location.href="/{{ session["cate_no"] }}/{{ item.item_id }}"'>
                <div class="cart-item-img-placeholder">
                        <!-- 이미지 파일로 받을 때 -->
                        <img src="{{ url_for('static', filename='img/_item/' ~ item.item_img) }}" alt="{{ item.item_name }}" style="width: 100%; height: 100%; object-fit:cover;">
                        <!-- 이미지 링크로 받을 때 -->
                        <!-- <img src="{{ item.item_img }}" alt="{{ item.item_name }}" style="width: 100%; height: 100%; object-fit:cover;"> -->
                    </div>
                <div class="cart-item-details">
                    <p class="cart-item-name">상품명&nbsp
                        <span class="cart-item-name-context">
                            {{item.item_name}}
                        </span>
                    </p>
                </div>
                <div class="cart-item-detail-area">
                    <p class="cart-item-detail-info">
                        상품 상세 정보<br>
                        <span class="cart-item-detail-context">{{item.item_name}}입니다.</span>
                    </p>
                    <div class="cart-item-tags">
                        <p>#특징A #특징B #특징C</p>
                    </div>
                </div>
                <div class="cart-item-price">
                    <p>상품 가격<br><br>
                        <span class="cart-item-price-context">
                            {{'{:,}'.format(item.item_price)}} 원
                        </span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <p>결제 내역이 없습니다.</p>
        {% endif %}
    </main>
</body>
</html>