<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub - 검색 결과</title>
{% include "includes/_style.html" %}
</head>
<style>
    .cart-item {
        background-color: white; 
        border : none;
    }
</style>
<!-- 클릭 수집 로그 -->
{% include "includes/_click_log.html" %}

<script>
    function sendClickLogLink(el) {
    const itemId = el.dataset.itemId;

    fetch("/log/click", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ item_id: itemId })
    });
    // return false 하지 않음 → 정상 이동
}

</script>

<body>
    <header>
        {% include "includes/_header.html" %}
    </header>
    <br>
    <main>
        <h1 class="page-title">"({{keyword}})"에 관한 결과</h1>
        <section class="search-items-list">
            {% if items %}
            <section class="cart-list">
                {% for item in items %}
                <div>
                <a href="{{ url_for('lsh.item',
                   category_no=item['category_no'],
                   item_no=item['item_id']) }}"
                    data-item-id="{{ item.item_id }}"
                    onsubmit="sendClickLog(event, this)" class="cart-item-form">
                    <input type="hidden" name="log_id" value="{{ log_id }}">
                    <input type="hidden" name="keyword" value="{{ keyword }}">
                    <input type="hidden" name="tag" value="search_click">
                    <input type="hidden" name="tag_count" value="1">
                    
                    <button type="submit" class="cart-item">
                        <div class="cart-item-img-placeholder">
                            {% if item.item_img.endswith(".png") %}
                                <!-- 이미지 파일로 받을 때 -->
                                <img src="{{ url_for('static', filename='img/_item/' ~ item.item_img) }}" alt="{{ item.item_name }}" style="width:100px; height:100px; object-fit:cover;">
                            {% else %}
                                <!-- 이미지 링크로 받을 때 -->
                                <img src="{{ item.item_img }}" alt="{{ item.item_name }}" style="width:100px; height:100px; object-fit:cover;">
                            {% endif %}
                        </div>
                        <div class="cart-item-details">
                            <p class="cart-item-name">상품명&nbsp
                                <span class="cart-item-name-context">
                                    {{ item.item_name }}
                                </span>
                            </p>
                        </div>
                        <div class="cart-item-detail-area">
                            <p class="cart-item-detail-info">
                                상품 상세 정보<br>
                                <span class="cart-item-detail-context">{{item.item_name}}입니다.</span>
                            </p>
                            <div class="cart-item-tags">
                                button
                                {% for tag in item.tags %}
                                    <span>#{{ tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cart-item-price">
                            <p>상품 가격<br><br>
                                <span class="cart-item-price-context">
                                    {{'{:,}'.format(item.item_price)}} 원
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% else %}
                <p>검색 결과가 없습니다.</p>
            {% endif %}
        </section>
        <button class="top-btn">TOP</button>
        <div id="scroll-trigger"></div>
    </main>
</body>
</html>